asgiref==3.11.1
ast_serialize==0.5.0
certifi==2026.6.17
charset-normalizer==3.4.7
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
idna==3.18
jplephem==2.24
librt==0.11.0
mypy==2.1.0
mypy_extensions==1.1.0
numpy==2.5.0
pandas==3.0.3
pathspec==1.1.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
setuptools==82.0.1
sgp4==2.25
six==1.17.0
skyfield==1.54
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
websocket-client==1.9.0
yamcs-client==2.0.0
